:root {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input, button, label, textarea, select {
  font-size: 1.25em;
}

input, button, textarea, select, fieldset {
  background: white;
  color: black;
  border: 2px solid grey;
  border-radius: 0.25em;
  padding: 0.5em;
}


input:focus, button:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}
